.processes__list,
.process__item-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.process-connector {
  width: 0.125rem;
  height: 8rem;
  background-color: var(--color-light);
  align-self: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.process__item-container:last-child .process-connector {
  display: none;
}

/* min width 769px */
@media screen and (min-width: 48.0625rem) {
  .process-connector {
    display: none;
  }

  .processes__list {
    gap: 5rem;
    margin-top: 4rem;
  }

  .process__item-container {
    display: flex;
    gap: unset;
    width: 55%;
  }

  .process__item-container:nth-child(even) {
    text-align: right;
    align-self: flex-end;
  }
}
