.intro-section {
  padding: 2.5rem 0 4rem;
}

.intro-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.intro-image {
  width: 100%;
  height: 55vh;
  height: 55svh;
  background-color: grey;
}

/* min width 769px */
@media screen and (min-width: 48.0625rem) {
  .intro-section {
    padding: 0 0 2rem;
  }

  .intro-content {
    margin-top: 3rem;
    flex-direction: row;
  }
}
