.home-about__heading {
  display: none;
}

.home-about__content {
  margin-bottom: 2rem;
}

.home-about__numbers-container {
  margin: 2.5rem auto;
  padding: 0 0.5rem;
  gap: 1.5rem;
  justify-content: space-between;
  width: min(100%, 28rem);
}