.highlights-section__content {
  display: flex;
  justify-content: space-between;
  width: min(100%, 43.75rem);
  gap: 2.5rem;
  margin: 4rem 0;
}

.highlights-section__year-sidebar {
  position: sticky;
  top: 5.5rem;
  height: fit-content;
  gap: 2.5rem;
}

.highlights-section__content-inner {
  gap: 3rem;
}

.highlights-section__list {
  padding-left: 1rem;
}

.highlights-section__item {
  position: relative;
}

.highlights-section__item::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.35rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--color-light);
}

.highlights-section__item:not(:last-child) {
  margin-bottom: 1rem;
}

.highlights-section__year-heading {
  display: none;
}
