.highlights-section__content {
  display: flex;
  justify-content: space-between;
  width: min(100%, 43.75rem);
  gap: 2.5rem;
  margin: 4rem 0;
}

.highlights-section__year-sidebar {
  position: sticky;
  top: 5.5rem;
  height: fit-content;
  gap: 2.5rem;
}

.highlights-section__content-inner {
  gap: 3rem;
}

.highlights-section__list {
  padding-left: 1rem;
}

.highlights-section__item {
  position: relative;
}

.highlights-section__item::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.35rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--color-light);
}

.highlights-section__item:not(:last-child) {
  margin-bottom: 1rem;
}

.highlights-section__year-heading {
  display: none;
}

/* min width 769px */
@media screen and (min-width: 48.0625rem) {
    .highlights-section__content {
        width: 100%;
        gap: 5rem;
    }

    .highlights-section__year-sidebar {
        top: 6.5rem;
        width: 15%;
    }

    .highlights-section__year {
        font-size: clamp(1.15rem, 2vw + 0.2rem, 1.5rem);
    }

    .highlights-section__-year-group {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 5rem;
    }

    .highlights-section__year-heading {
        position: sticky;
        display: block;
        top: 45%;
        font-weight: 400;
        font-size: clamp(2rem, 4vw + 0.2rem, 3.5rem);
        opacity: 0.2;
    }

    .highlights-section__list {
        margin-top: 4rem;
    }
}
