.about-gallery__section {
    position: relative;
    overflow: hidden;
}

.about-gallery__subheading {
    font-style: italic;
    margin: 1.25rem 0 1.5rem;
}

.about-gallery__container {
    width: 100%;
    padding-bottom: 2rem;
    overflow-x: auto;
}

/* Scrollbar Styling */
.about-gallery__container::-webkit-scrollbar {
  height: 4px;
}

.about-gallery__container::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

.about-gallery__container::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 4px;
}

.about-gallery__container-inner {
    width: max-content;
    display: flex;
    gap: 1.25rem;
}

.about-gallery__image-container {
    width: min(100vw, 21.875rem);
    aspect-ratio: 1 / 1.35;
    background-color: grey;
}

/* min width 769px */
@media screen and (min-width: 48.0625rem) {
    .about-gallery__section {
        overflow: unset;
    }

    .about-gallery__heading {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
    }

    .about-gallery__subheading {
        display: none;
    }
    
    .about-gallery__container {
        width: 100%;
        padding-bottom: 0;
        overflow-x: unset;
        margin-top: 4rem;
    }

    .about-gallery__container-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .about-gallery__image-container {
        width: 17rem;
        aspect-ratio: 1 / 1.35;
    }

    .about-gallery__image-container:nth-child(odd) {
        align-self: flex-end;
    }

    .about-gallery__image-container:nth-child(even) {
        align-self: center;
    }
}

/* min width 1025px */
@media screen and (min-width: 64.0625rem) {
    .about-gallery__section {
        height: calc(100vh + 12rem);
    }

    .about-gallery__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .about-gallery__container {
        margin-top: 0;
        height: 100%;
    }

    .about-gallery__container-inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        flex-direction: unset;
        gap: unset;
    }

    .about-gallery__image-container {
        position: absolute;
        width: 13.5rem;
        aspect-ratio: 1.2 / 1;
    }

    .about-gallery__image-container:nth-child(odd) {
        align-self: unset;
    }

    .about-gallery__image-container:nth-child(even) {
        align-self: unset;
    }

    .about-gallery__image-container:nth-child(1) {
        top: 0;
        left: 25%;
    }

    .about-gallery__image-container:nth-child(2) {
        top: 0;
        right: 25%;
    }

    .about-gallery__image-container:nth-child(3) {
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
    }

    .about-gallery__image-container:nth-child(4) {
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
    }

    .about-gallery__image-container:nth-child(5) {
        bottom: 0;
        left: 25%;
    }

    .about-gallery__image-container:nth-child(6) {
        bottom: 0;
        right: 25%;
    }
}

/* media */
/* 
position: absolute;
width: 216px;
height: 180px;
left: 375px;
top: 4884px;

background: #D9D9D9; */
