.home-services__heading {
  width: 100%;
}

.home-services__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.home-services__item:not(:last-child) {
  border-bottom: 1px solid var(--color-lighter);
}

.home-services__item-heading {
    font-size: clamp(1.5rem, 2vw, 2rem);
  text-transform: uppercase;
}

.home-services__item-desc {
  margin: 1.5rem 0 2rem;
}

/* min-width 651px */
@media screen and (min-width: 40.6875rem) {
    .home-services__heading {
        width: fit-content;
    }
}

/* min-width 769px */
@media screen and (min-width: 48.0625rem) {
    .home-services__list {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
        gap: 2rem;
        margin-top: 5rem;
    }

    .home-services__item:not(:last-child) {
        border-bottom: 1px solid var(--color-light);
    }

    .home-services__item {
        background-color: var(--color-card-bg);
        border: 1px solid var(--color-light);
        padding: 4rem 2rem;
        text-align: center;
    }

    .home-services__item-heading {
        text-transform: capitalize;
        font-weight: 400;
    }

    .home-services__item-desc {
        margin: 2rem 0 0;
    }
}