.home-services__heading {
  width: 100%;
}

.home-services__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.home-services__item:not(:last-child) {
  border-bottom: 1px solid var(--color-lighter);
}

.home-services__item-heading {
  text-transform: uppercase;
}

.home-services__item-desc {
  margin: 1.5rem 0 2rem;
}
