body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark-text);
}

p {
  font-size: var(--font-text);
  color: var(--color-text);
}

button,
label {
  cursor: pointer;
  user-select: none;
}

span {
  display: inline-block;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 4px;
}

/* min-width 769px */
@media screen and (min-width: 48.0625rem) {
  p {
    line-height: 1.6;
  }
}
