.playfair-display {
  font-family: "Playfair Display", serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.page-container {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.section-container {
  padding: 4rem 0;
  border-bottom: 1px solid var(--color-light);
}


.section-heading {
  font-size: var(--font-section-heading);
  font-weight: 400;
  text-transform: capitalize;
}

.subsection-heading {
  font-size: var(--font-subsection-heading);
  font-weight: 400;
  text-transform: capitalize;
}
