:root {
  --color-bg: #fafafa;
  --color-dark-bg: #222;
  --color-text: #444;
  --color-dark-text: #222;
  --color-light: #888;
  --color-lighter: #ccc;

  /* lowest values */
  --font-sm-text: 0.875rem;
  --font-text: 1rem;
  --font-md-text: 1.25rem;
  --font-l-text: 1.5rem;
  --font-xl-text: 1.75rem;
  --font-section-heading: 3rem;
  --font-subsection-heading: 1.5rem;
  --font-button: 1.125rem;
}
