.stat {
  align-items: center;
  text-align: center;
  line-height: 1.3;
  color: var(--color-dark-text);
}

.stat__number-container {
  display: block;
  overflow: hidden;
}

.stat__number-container span {
  font-size: var(--font-md-text);
  font-weight: 500;
  transform: translateY(0%);
}

.stat__desc {
  font-size: var(--font-sm-text);
  font-weight: 300;
}
