.hero {
  min-height: 100vh;
  min-height: 100svh;
  padding-top: 4rem;
  line-height: 1.2;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--color-light);
}

.hero__media {
  width: 100%;
  aspect-ratio: 3/3.6;
  background-color: grey;
}

.hero__title {
  font-size: var(--font-l-text);
  font-weight: 500;
  margin-top: 1.5rem;
}

.hero__subtitle-container {
  gap: 2rem;
}

.hero__subtitle {
  font-size: var(--font-l-text);
  font-weight: 500;
  color: var(--color-dark-text);
}

.hero__subtitle-container button {
  align-self: center;
}
