.hero-container {
  border-bottom: 1px solid var(--color-light);
}

.hero {
  min-height: 100vh;
  min-height: 100svh;
  padding: 4rem 0;
  line-height: 1.2;
}

.hero__media {
  position: relative;
  width: 100%;
  height: 60vh;
  height: 60svh;
}

.hero__image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  z-index: 2;
}

.hero__title {
  font-size: var(--font-l-text);
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
  letter-spacing: -1px;
}

.hero__subtitle-container {
  gap: 2rem;
}

.hero__subtitle {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-weight: 400;
  color: var(--color-dark-text);
}

.hero__subtitle-container .ui-button__container {
  align-self: center;
}

/* min width 769px */
@media screen and (min-width: 48.0625rem) {
  .hero {
    min-height: 100vh;
    padding: 6rem 0 7rem;
    width: 90%;
  }

  .hero__media {
    height: unset;
    width: 85%;
    aspect-ratio: 5/4;
    max-height: 23rem;
    align-self: flex-end;
    order: 3;
    margin: 1.5rem 0 0;
  }

  .hero__title {
    margin: 0;
    order: 1;
    text-transform: uppercase;
    font-weight: 600;
  }

  .hero__subtitle-container {
    order: 2;
  }

  .hero__subtitle-container.flex-column {
    width: 85%;
    flex-direction: row;
    align-self: flex-end;
    gap: 3rem;
    margin: 2rem 0 0;
  }

  .hero__subtitle-container .ui-button__container {
    align-self: flex-end;
    white-space: nowrap;
  }
}

/* min width 1025px */
@media screen and (min-width: 64.0625rem) {
  .hero__media {
    width: 60%;
    order: 2;
    margin: -9rem 0 0;
  }

  .hero__title {
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    width: 40%;
  }

  .hero__subtitle-container.flex-column {
    width: 60%;
    gap: 5rem;
    margin: 1rem 0 0;
    line-height: 1;
  }

  .hero__subtitle-container p {
    line-height: 1.4;
  }

  .hero__subtitle-container {
    order: 2;
  }
}
