.ui-message {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-dark-bg);
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
