.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--color-dark-bg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
