.header {
  position: sticky;
  top: 1.5rem;
  z-index: 5;
}

.header.active .header__time {
  color: var(--color-bg);
}

.header.active .header__logo-svg path {
  stroke: var(--color-bg);
}

.header.active .header__menu-line {
  background-color: var(--color-bg);
}

/* hide message icon when nav is active */
.header.active + .home .ui-message {
  display: none;
}

.header__logo,
.header__time,
.header__menu {
  z-index: 4;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.header__logo.active {
  pointer-events: none;
  user-select: none;
}

.header__logo-svg {
  width: 1.6rem;
  height: 1.6rem;
}

.header__time {
  opacity: 0.7;
}

.header__menu {
  width: 2rem;
  height: 0.875rem;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 0;
}

.header__menu-line {
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-dark-text);
  border-radius: 0.1rem;
}

.header__menu-line:first-child {
  width: 60%;
  align-self: flex-end;
}

.header__menu-line:last-child {
  align-self: flex-start;
}

/* min width 769px */
@media screen and (min-width: 48.0625rem) {
  .header__time,
  .header__menu.flex-column {
    display: none;
  }
}

/* min width 1025px */
@media screen and (min-width: 64.0625rem) {
  .header__time {
    display: block;
  }
}
