.nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  height: 100dvh;
  min-height: 100dvh;
  top: 0;
  left: 0;
  transform: translate(0%);
  font-family: "Playfair Display", serif;
}

.nav__container {
  height: 100%;
  width: 100%;
  background-color: var(--color-dark-bg);
  color: var(--color-bg);
}

.nav__list {
  width: 90%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4.5rem;
}

.nav__item {
  padding: 1.25rem 0;
  transform-origin: left;
}

.nav__item:not(:last-child) {
  border-bottom: 1px solid var(--color-light);
}

.nav__link {
  font-size: var(--font-xl-text);
  line-height: 1.1;
  opacity: 1;
}

button.nav__link {
  background: none;
  border: none;
  color: inherit;
}

.nav__link.active {
  color: var(--color-light);
  pointer-events: none;
  user-select: none;
}

.nav__socials-list {
  width: 100%;
  height: 10%;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.nav__socials-list.flex {
  justify-content: center;
  align-items: flex-end;
}

.nav__socials-link {
  font-size: 1rem;
  opacity: 0.7;
}
