.footer {
  position: relative;
  background-color: var(--color-dark-bg);
  color: var(--color-bg);
  padding: 4rem 0 1rem;
  z-index: 4;
  overflow: hidden;
}

.footer__content-inner {
  gap: 2rem;
  margin-bottom: 3.5rem;
}

.footer__content-image-container {
  width: 10rem;
  aspect-ratio: 1 / 1.2;
  overflow: hidden;
  background-color: var(--color-input-bg);
}

.footer__desktop-socials {
  display: none;
}

.footer__content-links {
  gap: 1.5rem;
  line-height: 1;
  align-items: flex-end;
  font-size: 0.9rem;
}

.footer__mobile-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer__social-link {
  opacity: 0.7;
  font-size: 0.9rem;
}

.footer__brand-copyright {
  overflow-x: hidden;
}

.footer__brand-name {
  font-size: var(--font-xxl-text);
  font-weight: bold;
  color: var(--color-bg);
  opacity: 0.7;
  white-space: nowrap;
  line-height: 1;
  pointer-events: none;
  user-select: none;
  display: flex;
}

.footer__brand-text {
  animation: scroll-horizontal 20s linear infinite;
  padding-right: 3rem;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.footer__copyright {
  font-size: 0.875rem;
  color: var(--color-bg);
  opacity: 0.4;
  text-align: center;
  margin-top: 1rem;
}

/* min width 769px */
@media screen and (min-width: 48.0625rem) {
  .footer {
    padding: 6rem 0 1rem;
  }

  .footer__content-inner {
    margin-bottom: 3rem;
  }

  .footer__content-inner.flex-between {
    align-items: flex-start;
  }

  .footer__content-image-container {
    width: 15rem;
    aspect-ratio: 1 / 1;
  }

  .footer__desktop-socials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer__social-link {
    opacity: 1;
    font-size: 1rem;
    line-height: 1;
  }

  .footer__mobile-socials {
    display: none;
  }

  .footer__content-links {
    gap: 2rem;
    line-height: 1;
    align-items: flex-start;
    font-size: 1rem;
  }

  .footer__content-link-item {
    opacity: 0.8;
  }

  .footer__brand-name {
    text-transform: uppercase;
  }

  .footer__copyright {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
}
