.services-content .page-heading {
  display: none;
}

.services-content__list {
  padding: 3rem 0 0;
}

.services-content__item {
  height: fit-content;
  padding: 4.5rem 0 3.5rem;
  border-bottom: 1px solid var(--color-light);
}

.services-content__item-image {
  width: min(100%, 31.25rem);
  height: 50vh;
  background-color: grey;
}

.services-content__item-heading {
  font-size: var(--font-l-text);
  font-weight: 500;
  margin: 1.5rem 0 1rem;
}
