.services-content .page-heading {
  display: none;
}

.services-content__list {
  position: relative;
  padding: 3rem 0 0;
}

.services-content__item {
  height: fit-content;
  padding: 4.5rem 0 3.5rem;
  border-bottom: 1px solid var(--color-light);
  background-color: var(--color-bg);
}

.services-content__item-image {
  width: min(100%, 31.25rem);
  height: 50vh;
  background-color: grey;
}

.services-content__item-heading {
  font-size: var(--font-l-text);
  font-weight: 500;
  margin: 1.5rem 0 1rem;
}

/* min width 769px */
@media screen and (min-width: 48.0625rem) {
  .services-content {
    padding: 7rem 0;
    border-bottom: 1px solid var(--color-light);
  }

  .services-content .page-heading {
    display: block;
  }

  .services-content .page-heading br {
    display: none;
  }

  .services-content__list {
    padding: 0;
    margin: 5rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .services-content__item {
    position: sticky;
    height: fit-content;
    padding: 3rem 5rem;
    border-bottom: 0;
    border: 1px solid var(--color-light);
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }

  .services-content__item:nth-child(1) {
    top: 6rem;
  }

  .services-content__item:nth-child(2) {
    top: 15rem;
  }

  .services-content__item-image {
    display: none;
  }

  .services-content__item-heading {
    font-size: var(--font-l-text);
    margin: 0;
    width: 30%;
    height: fit-content;
    text-transform: uppercase;
  }

  .services-content__item-text {
    width: 60%;
    margin-top: 5.5rem;
  }
}

/* min width 1025px */
@media screen and (min-width: 64.0625rem) {
  .services-content__item {
    padding: 4rem 7rem;
  }

  .services-content__item:nth-child(2) {
    top: 16rem;
  }

  .services-content__item-heading {
    width: 45%;
  }

  .services-content__item-text {
    width: 50%;
    margin-top: 6.5rem;
  }
}
