.loader-container {
  position: fixed;
  inset: 0;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

.loader-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
}

.loader-text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-bg);
  opacity: 0;
  font-size: 1.25rem;
}

.loader-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loader-row div {
  flex: 1;
  background-color: var(--color-dark-bg);
}
