.loader-container {
  position: fixed;
  inset: 0;
  background-color: var(--color-dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loader-svg {
  width: 5rem;
  height: 5rem;
}
