.about-career__section {
    position: relative;
}

.about-career__section-content {
    display: flex;
    justify-content: space-between;
    width: min(100%, 43.75rem);
    gap: 2.5rem;
    margin: 3.5rem 0;
}

.about-career__year-sidebar {
    position: sticky;
    top: 5.5rem;
    height: fit-content;
    gap: 2.5rem;
}

.about-career__highlights {
    gap: 3rem;
}

.about-career__highlight-list {
    padding-left: 1rem;
}

.about-career__highlight-item {
    position: relative;
}

.about-career__highlight-item::before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 0.35rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--color-light);
}

.about-career__highlight-item:not(:last-child) {
    margin-bottom: 1rem;
}

.about-career__year-heading {
    display: none;
}

.about-career__button {
    display: flex;
    justify-content: center;
}