.nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100svh;
  top: 0;
  left: 0;
  background-color: var(--color-dark-bg);
  color: var(--color-bg);
  font-family: "Playfair Display", serif;
}

.nav__list {
  width: 90%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3rem;
}

.nav__link {
  text-transform: uppercase;
  font-size: var(--font-xl-text);
  line-height: 1.1;
}

.nav__socials-list {
  width: 100%;
  height: 10%;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.nav__socials-list.flex {
  justify-content: center;
  align-items: flex-end;
}

.nav__socials-link {
  font-size: 1rem;
  opacity: 0.7;
}
